:root{
    --cor-fundo: #DDA0DD;
    --cor-principal: #DB7093;
    --cor-secunaria: #4682B4;
    --cor-destaque: #800000;
    --cor-texto: #000000;
}
body{
    background-color: var(--cor-fundo);
    color:var(--cor-texto);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.caixa-principal{
    background-color: var(--cor-fundo);
    width: 90% ;
    max-width: 600px;
    text-align: center;
    padding: 20%;
}
h1{
    color: var(--cor-destaque);
}